################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlogAPI/FileContentIndex/20867436-ef8e-494b-ac49-5e10bde3f9a9.vsidx
/.vs/BlogAPI/FileContentIndex/476e3272-5e27-4f2d-936d-6e658ff43d6a.vsidx
/.vs/BlogAPI/FileContentIndex/5a6cd2a1-b7de-4988-a249-935294ac741e.vsidx
/.vs/BlogAPI/FileContentIndex/a6efcb6a-3d55-4d4d-bf7a-a8bf77bd9970.vsidx
/.vs/BlogAPI/FileContentIndex/f7de21d9-f1be-4009-ba6a-a1201588ed09.vsidx
*.vsidx
*.dll
/BlogAPI/bin/Debug/net8.0/BlogAPI.exe
/BlogAPI/bin/Debug/net8.0/BlogAPI.dll
/BlogAPI/bin/Debug/net8.0/BlogAPI.pdb
/BlogAPI/bin/Debug/net8.0/BlogAPI.deps.json
/.vs/BlogAPI/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/.vs/BlogAPI/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/BlogAPI/DesignTimeBuild/.dtbcache.v2
/.vs/BlogAPI/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/.vs/BlogAPI/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/BlogAPI/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/.vs/BlogAPI/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
*.log
/BlogAPI/bin/Debug/net8.0/audit-log.txt
/BlogAPI/obj/Debug/net8.0/EndpointInfo/BlogAPI.json
/BlogAPI/obj/Debug/net8.0/ref/BlogAPI.dll
/BlogAPI/obj/Debug/net8.0/refint/BlogAPI.dll
/BlogAPI/obj/Debug/net8.0/ApiEndpoints.json
*.exe
/BlogAPI/obj/Debug/net8.0/BlogAPI.AssemblyInfo.cs
/BlogAPI/obj/Debug/net8.0/BlogAPI.AssemblyInfoInputs.cache
/BlogAPI/obj/Debug/net8.0/BlogAPI.csproj.CoreCompileInputs.cache
/BlogAPI/obj/Debug/net8.0/BlogAPI.csproj.FileListAbsolute.txt
/BlogAPI/obj/Debug/net8.0/BlogAPI.pdb
/.vs/BlogAPI/copilot-chat/ed446bb3/sessions/0ca4794b-48fb-4a7f-a1b5-1f47272a6dd5
