################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlogAPI/FileContentIndex/20867436-ef8e-494b-ac49-5e10bde3f9a9.vsidx
/.vs/BlogAPI/FileContentIndex/476e3272-5e27-4f2d-936d-6e658ff43d6a.vsidx
/.vs/BlogAPI/FileContentIndex/5a6cd2a1-b7de-4988-a249-935294ac741e.vsidx
/.vs/BlogAPI/FileContentIndex/a6efcb6a-3d55-4d4d-bf7a-a8bf77bd9970.vsidx
/.vs/BlogAPI/FileContentIndex/f7de21d9-f1be-4009-ba6a-a1201588ed09.vsidx
